[flake8]
ignore = E203, E266, E501, W503, F403, F401, F405
max-line-length = 89
max-complexity = 18
select = B,C,E,F,W,T4,B9
# E203: This error code refers to whitespace before ':' in slice. Ignore to accommodate the Black code formatter.
# E266: This error code indicates too many leading '#' for block comment.
# E501: This error code indicates line too long (exceeds the maximum allowed line length). 
# W503: This error code refers to line break occurred before a binary operator. 
# F403: This error code indicates 'from module import *' used. 
# F401: This error code signifies module imported but unused.
# F405: This error code refers to a named variable in a class being redefined.