# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Mac OS X
.DS_Store

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
doc/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Extraneous
logs/
data/

# Demo data
analyzed_videos/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# LMDB
*.mdb
*.xml
*.hdf5
*.iml

*.tif
arrow

.vscode/

*.code-workspace

demos/ava/affinewarp
demos/ava/autoencoded_vocal_analysis
demos/ava/data
demos/ava/models
demos/ava/output*

demos/ava/blu291*
demos/ava/red287*
demos/ava/grn395*

demos/ava/*.pdf
demos/ava/*.png
demos/ava/**/*.svg

demos/ava/**/*.npy

demos/ava_yawarakai-te

demos/ava/**/tim*

demos/ava/**/plot*
demos/ava/runs

demos/ava/zmq*

demos/ava/*.zip
demos/ava/ava_demo_blu291_66.py
demos/ava/ava_demo_blu291_66.yaml
demos/ava/ava_demo_blu291_98.py
demos/ava/ava_demo_blu291_98.yaml
demos/ava/debug_291_spec
demos/ava/ex_040323.ipynb
demos/ava/scripts/gen_movie_0123.py
demos/ava/scripts/gen_movie_0223.py
demos/ava/scripts/gen_movie.py
demos/ava/scripts/gif.py
demos/ava/scripts/latent_projection_plot.py
demos/ava/scripts/shotgun_movie.py
demos/ava/scripts/window_vae_dataset.py
improv/store.py
improv/nexus.py
improv/store.py
demos/ava/torchscript/ava_vae.py
demos/ava/scripts/utils.py
demos/ava/scripts/segment_wav.py
demos/ava/scripts/merge_bout.py
demos/ava/scripts/data_container.py
demos/ava/scripts/concat_wavs.py
improv/nexus.py
improv/store.py
